# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/My First Project/*
!/My First Project/task/
/My First Project/task/*
!/My First Project/task/calculator.py
